<!--Permite configurar mediante un formulario (GET) usando select o input type radio:

Dificultad (Eligiendo una en particular, o todas → value = -1 )
Categoría (Eligiendo una en particular o todas → value = -1)
Username

        Todos los campos deben ser required!

        Debe existir un botón Jugar que invoque al método Comenzar del controller. -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configuración de juego</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
   <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="juego.html">Jugar</a>
            </li>
          </ul>
          <a class="navbar-brand" href="#">
              <img src="img/Logo.png" alt="Logo" width="40" height="34">
            </a>
        </div>
      </div>
    </nav>
</header>
    <div class = "txt-titulo">
      <h1>Nivel de dificultad</h1>
    </div>>
    <div class="botones">
    <button type="button" class="btn btn-success">1</button>
    <button type="button" class="btn btn-danger">2</button>
    <button type="button" class="btn btn-warning">3</button>
</div>
    <div class = "txt-titulo">
      <h1>Categoria</h1>
    </div>>
    
  </body>