<!-- Muestra:

Nombre de usuario
Puntaje final
Un enlace para volver a jugar (Reinicia el juego invocando al método ConfigurarJuego del controller)

-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fin</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="d-flex flex-column mb-3">
      <div class="btn">Puntaje</div>
      <div class="btn">Nombre jugador</div>
      <div><a class = "btn" href="">Volver a jugar</a></div>
    </div>
  </body>