html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 20px 60px 0px 20px;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}
.nav-link active{

}
.navbar navbar-expand-lg bg-body-tertiary{
    background-color: rgb(255, 255, 160);
}

.btn {

    display: inline-block;
    background-color: mediumaquamarine;
    color: aqua;
    text-transform: uppercase;
    text-transform: none;
    font-weight: 700;
    border-radius: 5px;
    margin: 25px;
    padding: 25px;
}
.txt-title{
    display: flex;
    

}
.d-flex justify-content-center {
    align-content: (
  responsive = true,
  property = align-content,
  values = (
    start = flex-start,
    end=flex-end,
    center= center,
    between= space-between,
    around= space-around,
    stretch= stretch,
  )
    )
}
.botones {
    display: flex;
    justify-content: center;
  }
  h1{
    text-align: center;
    margin:3px;
  }
button{
    margin-left: 10px;
}
header{
    background-color: rgb(56, 56, 20);
}